# Environment variables for AI Video Search Engine

# Redis message broker
REDIS_URL=redis://redis:6379/0

# PostgreSQL database connection (Sarna - Backend)
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/ai_vsg
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ai_vsg

# Qdrant Vector database connection (Rupender - AI/ML)
QDRANT_URL=http://qdrant:6333
